body {
    background-color: #F6F6F6;
  }
  
  .main {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
  }
  
  .title {
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color:#FFCB74;
    color: #efefef;
    
  }
  
  .bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    
  }